@model GamesStreamBlog.ViewModels.BlogViewModel

<div>&nbsp;</div>
<div class="alert alert-info">
    <div>List of @Model.NumberOfBlogs Blogs</div>
</div>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table table-striped table-bordered table-hover table-condensed table-responsive">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TheBlogs[0].BlogTitle)
            
        </th>
        <th>
            <h1>@Html.DisplayNameFor(model => model.TheBlogs[0].BlogAuthor)</h1>
        </th>
        <th>Action</th>
    </tr>

@foreach (var blog in Model.TheBlogs) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => blog.BlogTitle)
            @*@blog.BlogTitle*@
        </td>
        <td>
            @Html.DisplayFor(modelItem => blog.BlogAuthor)
        </td>
        <td>
            @Html.ActionLink("More", "Details", new {  id=blog.BlogTitle  })
        </td>
    </tr>
}

</table>
